@media screen and (max-width:1480px) {
    .container {
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
   .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .head {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   }

   .cube-box {
    margin-block: -50px;
   }
}